@import url("https://fonts.googleapis.com/css?family=Nunito");
@import url("https://use.fontawesome.com/releases/v5.6.3/css/all.css");
/* ==|====================
   Layout/Base
   ======================= */
* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
}

input {
  outline: none;
}

.fade-appear {
  opacity: 0;
  z-index: 1;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 1000ms linear;
}

/* ==|====================
   Layout/Header
   ======================= */
.l-header {
  position: fixed;
  border-bottom: 1px solid #ccc;
  margin: 0 auto;
  width: 100%;
  background-color: white;
  z-index: 99;
}
.l-header ::-webkit-input-placeholder {
  color: #999;
  font-size: 9pt;
}
.l-header :-moz-placeholder {
  color: #999;
  font-size: 9pt;
}
.l-header ::-moz-placeholder {
  color: #999;
  font-size: 9pt;
}
.l-header :-ms-input-placeholder {
  color: #999;
  font-size: 9pt;
}
.l-header header {
  padding: 1em 0 3.5em 0;
  width: 70%;
  margin: 0 auto;
}
.l-header .logo {
  display: inline;
  height: 45px;
}
.l-header .logo img {
  display: inline;
  height: 45px;
  float: left;
}
.l-header ul {
  display: inline;
  float: left;
}
.l-header ul li {
  display: inline;
  margin-right: 10%;
}
.l-header ul li a {
  color: #999;
  text-decoration: none;
}
.l-header ul li a:hover {
  color: #ccc;
}
.l-header ul a.sale {
  color: #4ec2dd;
  text-transform: uppercase;
  font-weight: 800;
}
.l-header .form-search {
  margin-top: 0.3em;
  margin-left: 10%;
  margin-right: 2%;
  font-family: FontAwesome;
  padding: 0.5em 1em;
  border: none;
  box-shadow: 1px 1px 3px #ccc;
  width: 330px;
  float: left;
  color: #999;
}
.l-header .form-search button {
  display: inline;
  background: transparent;
  border: none;
  outline: none;
}
.l-header .form-search div {
  display: inline;
}
.l-header .form-search .suggestion {
  display: block;
  position: fixed;
  margin-top: 1.5em;
  border: 1px solid #ccc;
  background-color: white;
  border-top: none;
  margin-left: -1em;
  box-shadow: 1px 1px 7px #ccc;
  padding: 0;
  width: 360px;
}
.l-header .form-search .suggestion li {
  width: 328px;
  padding: 1em;
  display: block;
  margin-right: 0;
  float: none;
  cursor: pointer;
}
.l-header .form-search .suggestion li:hover {
  background-color: whitesmoke;
}
.l-header .form-search input {
  border: none;
  margin-left: 4%;
  display: inline;
  width: 85%;
}
.l-header .cart__img {
  margin-left: 2%;
  margin-top: 0.5em;
  display: inline;
  height: 30px;
  float: left;
}
.l-header .cart__number {
  float: left;
  margin-top: 0.3em;
  margin-left: -0.8em;
  background-color: #4ec2dd;
  border-radius: 100%;
  color: white;
  font-size: 9pt;
  font-weight: 800;
  padding: 0.1em 0.3em;
}
.l-header .menu {
  font-size: 30pt;
  color: #4ec2dd;
  display: none;
  float: right;
  margin-right: 5%;
  cursor: pointer;
}
.l-header .menu-links {
  position: fixed;
  top: 4.5em;
  right: 0;
  border: 1px solid #ccc;
  border-right: none;
  height: 100%;
  background-color: white;
  width: 70%;
}
.l-header .menu-links ul {
  display: block;
  width: 90%;
  padding-bottom: 1em;
}
.l-header .menu-links ul li {
  display: block;
  padding: 1em 0;
  border-bottom: 1px solid #ccc;
}
.l-header .menu-links ul li a {
  color: #999;
  text-decoration: none;
}
.l-header .menu-links ul li a:hover {
  color: #ccc;
}
.l-header .menu-links ul a.sale {
  color: #4ec2dd;
  text-transform: uppercase;
  font-weight: 800;
}
.l-header .menu-links .menu-search {
  display: inline;
  margin-left: 2.5em;
}
.l-header .menu-links .menu-search .search-icon {
  color: #999;
}
.l-header .menu-links .menu-search div {
  display: inline;
}
.l-header .menu-links .menu-search input {
  display: inline;
  margin: 0;
  margin-left: 2%;
  border: none;
  float: none;
  border-bottom: 1px solid #ccc;
  width: 75%;
  font-size: 12pt;
  position: absolute;
}
.l-header .menu-links .menu-search ::-webkit-input-placeholder {
  font-size: 12pt;
}
.l-header .menu-links .menu-search input:-moz-placeholder {
  font-size: 12pt;
}
.l-header .menu-links .menu-search .suggestion {
  display: block;
  position: fixed;
  border: 1px solid #ccc;
  background-color: white;
  border-top: none;
  margin-left: 2em;
  box-shadow: 1px 1px 7px #ccc;
  padding: 0;
}
.l-header .menu-links .menu-search .suggestion li {
  padding: 1em;
  display: block;
  margin-right: 0;
  float: none;
  cursor: pointer;
  border-bottom: none;
}
.l-header .menu-links .menu-search .suggestion li:hover, .l-header .menu-links .menu-search .suggestion li:active {
  background-color: whitesmoke;
}
@media (max-width: 1200px) {
  .l-header header {
    width: 90%;
  }
}
@media (max-width: 1024px) {
  .l-header .menu-links .suggestion {
    width: 60%;
  }
  .l-header header {
    width: 100%;
  }
  .l-header ul {
    display: none;
  }
  .l-header form {
    display: none;
  }
  .l-header .cart {
    width: 40px;
    margin: 0 auto;
    text-align: center;
    float: none;
  }
  .l-header .menu {
    display: block;
  }
}
@media (max-width: 480px) {
  .l-header .menu-links {
    width: 100%;
  }
  .l-header .menu-links .suggestion {
    width: 85%;
  }
}

/* ==|====================
   Layout/Product
   ======================= */
.l-product {
  padding-top: 5em;
  width: 70%;
  margin: 0 auto;
}
.l-product section .product__buy {
  width: 90%;
  margin: 0 auto;
}
.l-product section .product__buy ul {
  width: 100%;
  margin: 0 auto;
  display: inline-block;
  margin-left: -1em;
  color: #999;
  margin-bottom: 2em;
}
.l-product section .product__buy ul li {
  font-size: 10pt;
  display: inline;
  margin-right: 1%;
  margin-left: 1%;
  font-weight: 800;
}
.l-product section .product__buy ul li a {
  color: #999;
}
.l-product section .product__buy ul a.mario {
  color: #4ec2dd;
}
.l-product section .product__buy .small-box {
  width: 50px;
  height: 50px;
  border: solid 1px #ccc;
  position: absolute;
  margin-left: 1.5em;
}
.l-product section .product__buy .box {
  width: 350px;
  height: 350px;
  border: solid 1px #ccc;
  margin-left: 5.5em;
}
.l-product section .product__buy .product__right {
  display: inline;
  position: absolute;
  width: 400px;
}
.l-product section .product__buy .product__right h2 {
  margin-left: 1em;
  color: #999;
  font-weight: 100;
  margin-top: 0;
  margin-bottom: 1em;
}
.l-product section .product__buy .product__right .product__value {
  background-color: #f8f8f8;
  padding: 1.5em;
  padding-top: 1em;
  margin-bottom: 1em;
}
.l-product section .product__buy .product__right .product__value small {
  display: block;
  color: #999;
  margin-bottom: 1em;
}
.l-product section .product__buy .product__right .product__value small:nth-child(1) {
  margin-bottom: 0.2em;
}
.l-product section .product__buy .product__right .product__value small div {
  color: #4ec2dd;
  font-size: 20pt;
  font-weight: 800;
  display: inline;
}
.l-product section .product__buy .product__right .product__value button {
  text-transform: uppercase;
  font-weight: 800;
  background-color: #71ce4b;
  border: none;
  padding: 0.5em 1em;
  color: white;
  border-radius: 5%;
  font-size: 14pt;
  box-shadow: 0px 1px 3px #333;
  cursor: pointer;
}
.l-product section .product__buy .product__right .product__frete {
  width: 80%;
  margin: 0 auto;
  background-color: #4ec2dd;
  color: white;
  padding: 1em;
  border-radius: 2%;
}
.l-product section .product__buy .product__right .product__frete p {
  font-weight: 800;
  text-transform: uppercase;
  font-size: 10pt;
  margin-top: 0;
  margin-bottom: 1.5em;
}
.l-product section .product__buy .product__right .product__frete input:nth-of-type(1) {
  padding: 0.8em 1em;
  border: none;
  border-radius: 6%;
  width: 35%;
  box-shadow: 0px 1px 1px white;
}
.l-product section .product__buy .product__right .product__frete input:nth-of-type(2) {
  padding: 0.8em 1em;
  border: none;
  border-radius: 6%;
  width: 12%;
  margin-left: 0.5em;
  box-shadow: 0px 1px 1px white;
  text-align: center;
}
.l-product section .product__buy .product__right .product__frete button {
  font-weight: 800;
  padding: 0.8em 1em;
  border: none;
  border-radius: 4%;
  width: 30%;
  margin-left: 0.5em;
  box-shadow: 1px 1px 1px #0f4156;
  color: white;
  background-color: #0f4156;
  cursor: pointer;
}
.l-product section .product__desc {
  width: 90%;
  margin: 0 auto;
}
.l-product section .product__desc h3 {
  margin-top: 3em;
  text-align: center;
  color: #849da8;
  font-weight: 100;
  margin-bottom: 1.5em;
}
.l-product section .product__desc p {
  color: #999;
}
.l-product section .product__others {
  width: 95%;
  margin: 0 auto;
  text-align: center;
}
.l-product section .product__others h3 {
  margin-top: 2em;
  color: #849da8;
  font-weight: 100;
  margin-bottom: 1.5em;
}
.l-product section .product__others .others {
  border: solid 8px #f2f2f2;
  width: 185px;
  display: inline-block;
  margin-right: 1%;
  background-color: #f2f2f2;
  margin-bottom: 3em;
}
.l-product section .product__others .others img {
  width: 185px;
  height: 185px;
}
.l-product section .product__others .others p {
  height: 40px;
  color: #999;
  margin-top: 0;
  font-size: 9pt;
  text-align: left;
}
.l-product section .product__others .others small {
  color: #999;
  text-align: left;
  display: block;
}
.l-product section .product__others .others span {
  color: #4ec2dd;
  font-weight: 800;
  float: left;
  margin-top: 0.2em;
}

@media (max-width: 1200px) {
  .l-product {
    width: 90%;
  }
}
@media (max-width: 1024px) {
  .l-product section .product__buy {
    margin: 0 auto;
    text-align: center;
  }
  .l-product section .product__buy ul {
    text-align: left;
  }
  .l-product section .product__buy .small-box {
    margin-left: -3.5em;
  }
  .l-product section .product__buy .box {
    margin: 0 auto;
  }
  .l-product section .product__buy .product__right {
    display: block;
    position: relative;
    margin: 0 auto;
    width: 70%;
    text-align: center;
  }
  .l-product section .product__buy .product__right h2 {
    margin: 0 auto;
    width: 350px;
    color: #999;
    font-weight: 100;
    margin-top: 0.3em;
    margin-bottom: 1em;
  }
  .l-product section .product__buy .product__right .product__value small:nth-child(1) {
    margin-bottom: 0.2em;
    margin-left: -5em;
  }
  .l-product section .product__buy .product__right .product__frete {
    width: 80%;
  }
}
@media (max-width: 767px) {
  .l-product section .product__buy .small-box {
    display: none;
  }
  .l-product section .product__buy .box {
    width: 80%;
    height: 300px;
  }
  .l-product section .product__buy .product__right {
    width: 80%;
  }
  .l-product section .product__buy .product__right h2 {
    text-align: left;
    width: 100%;
  }
  .l-product section .product__buy .product__right .product__frete button {
    margin: 1em;
    width: 60%;
  }
}
/* ==|====================
   Layout/Footer
   ======================= */
.l-footer {
  bottom: 0;
}
.l-footer .darkBlue {
  height: 45px;
  background-color: #0f4156;
  width: 25%;
  display: inline-block;
  padding: 1em 0;
  float: left;
}
.l-footer .darkBlue img {
  height: 45px;
  float: right;
  margin-right: 2em;
}
.l-footer .lightBlue {
  height: 45px;
  background-color: #4ec2dd;
  display: inline-block;
  width: 75%;
  padding: 1em 0;
  float: right;
}
.l-footer .lightBlue p {
  font-size: 9pt;
  padding-right: 12em;
  float: left;
  margin-left: 2em;
  color: white;
}
@media (max-width: 1180px) {
  .l-footer .darkBlue {
    width: 17%;
  }
  .l-footer .lightBlue {
    width: 83%;
  }
}
@media (max-width: 767px) {
  .l-footer .darkBlue {
    width: 100%;
  }
  .l-footer .darkBlue img {
    margin-left: 1.5em;
    float: left;
  }
  .l-footer .lightBlue {
    padding: 0;
    width: 100%;
  }
  .l-footer .lightBlue p {
    padding: 0;
    font-size: 11pt;
    text-align: center;
    margin-left: 1.5em;
  }
}

/* ==|====================
   Layout/Modal
   ======================= */
.l-modal {
  padding: 3em;
  width: 200px;
  margin: 0 auto;
  top: 30%;
  box-shadow: 1px 1px 7px #606060;
  background-color: white;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1050;
  transition: all 1s ease-out;
  text-align: center;
}
.l-modal .check {
  color: #71ce4b;
  font-size: 50pt;
  margin-bottom: 0.5em;
}
.l-modal p {
  color: #4ec2dd;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 4em;
}
.l-modal button {
  font-weight: 800;
  padding: 0.8em 3em;
  border: none;
  border-radius: 4%;
  margin-left: 0.5em;
  box-shadow: 1px 1px 1px #0f4156;
  color: white;
  background-color: #0f4156;
  cursor: pointer;
}

.l-notFound h1 {
  width: 100%;
  font-size: 72pt;
  position: absolute;
  top: 30%;
  margin: 0 auto;
  text-align: center;
  color: #999;
}
.l-notFound h2 {
  width: 100%;
  font-size: 36pt;
  position: absolute;
  top: 45%;
  margin: 0 auto;
  text-align: center;
  color: #999;
}
.l-notFound .l-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 767px) {
  .l-notFound h2 {
    font-size: 18pt;
    top: 50%;
  }
}

.l-constructionPage .img-constructionPage {
  width: 100%;
  position: absolute;
  top: 30%;
  margin: 0 auto;
  text-align: center;
}
.l-constructionPage .img-constructionPage img {
  width: 500px;
}
.l-constructionPage h2 {
  width: 100%;
  font-size: 36pt;
  position: absolute;
  top: 60%;
  margin: 0 auto;
  text-align: center;
  color: #999;
}
.l-constructionPage .l-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 767px) {
  .l-constructionPage .img-constructionPage img {
    width: 80%;
  }
}

/*# sourceMappingURL=index.css.map */
