/* ==|====================
   Layout/Base
   ======================= */

* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
}
input{
  outline: none;
}

.fade-appear {
  opacity: 0;
  z-index: 1;
}
 
.fade-appear.fade-appear-active{
  opacity: 1;
  transition: opacity 1000ms linear;
}