/* ==|====================
   Layout/Footer
   ======================= */
.l-footer {
  bottom:0;
  .darkBlue {
    height: 45px;
    background-color: #0f4156;
    width: 25%;
    display: inline-block;
    padding: 1em 0;
    float: left;
    img {
      height: 45px;
      float: right;
      margin-right: 2em;
    }
  }
  .lightBlue {
    height: 45px;
    background-color: #4ec2dd;
    display: inline-block;
    width: 75%;
    padding: 1em 0;
    float: right;
    p {
      font-size: 9pt;
      padding-right: 12em;
      float: left;
      margin-left: 2em;
      color: white;
    }
  }
  @media (max-width: 1180px) {
    .darkBlue {
      width: 17%;
    }
    .lightBlue {
      width: 83%;
    }
  }

  @media (max-width: 767px) {
    .darkBlue {
      width: 100%;
      img {
        margin-left: 1.5em;
        float: left;
      }
    }
    .lightBlue {
      padding: 0;
      width: 100%;
      p {
        padding: 0;
        font-size: 11pt;
        text-align: center;
        margin-left: 1.5em;
      }
    }
  }
}
