/* ==|====================
   Layout/Header
   ======================= */
.l-header {
  position: fixed;
  border-bottom: 1px solid #ccc;
  margin: 0 auto;
  width: 100%;
  background-color: white;
  z-index: 99;
  ::-webkit-input-placeholder {
    color: #999;
    font-size: 9pt;
  }

  :-moz-placeholder {
    color: #999;
    font-size: 9pt;
  }

  ::-moz-placeholder {
    color: #999;
    font-size: 9pt;
  }

  :-ms-input-placeholder {
    color: #999;
    font-size: 9pt;
  }

  header {
    padding: 1em 0 3.5em 0;
    width: 70%;
    margin: 0 auto;
  }

  .logo {
    display: inline;
    height: 45px;

    img {
      display: inline;
      height: 45px;
      float: left;
    }
  }

  ul {
    display: inline;
    float: left;
    li {
      display: inline;
      margin-right: 10%;

      a {
        color: #999;
        text-decoration: none;
      }
      a:hover {
        color: #ccc;
      }
    }
    a.sale {
      color: #4ec2dd;
      text-transform: uppercase;
      font-weight: 800;
    }
  }
  .form-search {
    margin-top: 0.3em;
    margin-left: 10%;
    margin-right: 2%;
    font-family: FontAwesome;
    padding: 0.5em 1em;
    border: none;
    box-shadow: 1px 1px 3px #ccc;
    width: 330px;
    float: left;
    color: #999;

    button{
        display: inline;
        background: transparent;
        border: none;
        outline: none;
        color: #999;
      }

  div{
    display: inline;
  }

  .suggestion{
    display: block;
    position: fixed;
    margin-top: 1.5em;
    border: 1px solid #ccc;
    background-color: white;
    border-top: none;
    margin-left: -1em;
    box-shadow: 1px 1px 7px #ccc;
    padding: 0;
    width: 360px;

    li{
      width: 328px;
      padding: 1em;
      display: block;
      margin-right: 0;
      float: none;
      cursor: pointer;
    }
    li:hover{
      background-color: whitesmoke;
    }
  }

  input {
    border: none;
    margin-left: 4%;
    display: inline;
    width: 85%;
  }
}
  .cart__img {
    margin-left: 2%;
    margin-top: 0.5em;
    display: inline;
    height: 30px;
    float: left;
  }
  .cart__number {
    float: left;
    margin-top: 0.3em;
    margin-left: -0.8em;
    background-color: #4ec2dd;
    border-radius: 100%;
    color: white;
    font-size: 9pt;
    font-weight: 800;
    padding: 0.1em 0.3em;
  }

  .menu {
    font-size: 30pt;
    color: #4ec2dd;
    display: none;
    float: right;
    margin-right: 5%;
    cursor: pointer;
  }
  .menu-links {
    position: fixed;
    top: 4.5em;
    right: 0;
    border: 1px solid #ccc;
    border-right: none;
    height: 100%;
    background-color: white;
    width: 70%;
    ul {
      display: block;
      width: 90%;
      padding-bottom: 1em;
      li {
        display: block;
        padding: 1em 0;
        border-bottom: 1px solid #ccc;
        a {
          color: #999;
          text-decoration: none;
        }
        a:hover {
          color: #ccc;
        }
      }
      a.sale {
        color: #4ec2dd;
        text-transform: uppercase;
        font-weight: 800;
      }
    }
    .menu-search{
      display: inline;
      margin-left: 2.5em;

      button{
        display: inline;
        background: transparent;
        border: none;
        outline: none;
        color: #999;
      }
    
      .search-icon{
        color: #999;
      }

      div{
        display: inline;
      }
      
    input {
      display: inline;
      margin: 0;
      margin-left: 2%;
      border: none;
      float: none;
      border-bottom: 1px solid #ccc;
      width: 75%;
      font-size: 12pt;
      position: absolute;
    }
    ::-webkit-input-placeholder {
      font-size: 12pt;
    }
    input:-moz-placeholder {
      font-size: 12pt;
    }

    .suggestion{
      display: block;
      position: fixed;
      border: 1px solid #ccc;
      background-color: white;
      border-top: none;
      margin-left: 2em;
      box-shadow: 1px 1px 7px #ccc;
      padding: 0;
      li{
        padding: 1em;
        display: block;
        margin-right: 0;
        float: none;
        cursor: pointer;
        border-bottom: none;
      }
      li:hover, li:active{
        background-color: whitesmoke;
      }
    }
  
  }
  }

  @media (max-width: 1200px) {
    header {
      width: 90%;
      
    }
  }
  @media (max-width: 1024px) {
    .menu-links {
    .suggestion{
      width: 60%;
    }
  }
    header {
      width: 100%;
    }
    ul {
      display: none;
    }
    form {
      display: none;
    }
    .cart{
      width: 40px;
      margin: 0 auto;
      text-align: center;
      float: none;

    }
    .menu {
      display: block;
    }
  }
  @media (max-width: 480px) {
    .menu-links {
      width: 100%;
      .suggestion{
        width: 85%;
      }
    }
  }
}
