/* ==|====================
   Layout/Modal
   ======================= */
.l-modal {
  padding: 3em;
  width: 200px;
  margin: 0 auto;
  top: 30%;
  box-shadow: 1px 1px 7px #606060;
  background-color: white;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1050;
  transition: all 1s ease-out;
  text-align: center;

  .check {
    color: $green;
    font-size: 50pt;
    margin-bottom: 0.5em;
  }
  p {
    color: $blue;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 4em;
  }
  button {
    font-weight: 800;
    padding: 0.8em 3em;
    border: none;
    border-radius: 4%;
    margin-left: 0.5em;
    box-shadow: 1px 1px 1px $darkBlue;
    color: white;
    background-color: $darkBlue;
    cursor: pointer;
  }
}
