.l-notFound {
  h1 {
    width: 100%;
    font-size: 72pt;
    position: absolute;
    top: 30%;
    margin: 0 auto;
    text-align: center;
    color: #999;
  }
  h2{
    width: 100%;
    font-size: 36pt;
    position: absolute;
    top: 45%;
    margin: 0 auto;
    text-align: center;
    color: #999;
  }
  .l-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  @media (max-width: 767px) {
    h2{
        font-size: 18pt;
        top: 50%;
    }
  }
}

.l-constructionPage {
    .img-constructionPage {
      width: 100%;
      position: absolute;
      top: 30%;
      margin: 0 auto;
      text-align: center;
      img{
          width: 500px;
      }
    }
    h2{
      width: 100%;
      font-size: 36pt;
      position: absolute;
      top: 60%;
      margin: 0 auto;
      text-align: center;
      color: #999;
    }
    .l-footer {
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  
    @media (max-width: 767px) {
        .img-constructionPage {
        img{
            width: 80%;
        }
    }
    }
  }
  
