/* ==|====================
   Layout/Product
   ======================= */
.l-product {
  padding-top: 5em;
  width: 70%;
  margin: 0 auto;
  section {
    .product__buy {
      width: 90%;
      margin: 0 auto;

      ul {
        width: 100%;
        margin: 0 auto;
        display: inline-block;
        margin-left: -1em;
        color: #999;
        margin-bottom: 2em;

        li {
          font-size: 10pt;
          display: inline;
          margin-right: 1%;
          margin-left: 1%;
          font-weight: 800;
          a {
            color: #999;
          }
        }
        a.mario {
          color: #4ec2dd;
        }
      }
      .small-box {
        width: 50px;
        height: 50px;
        border: solid 1px #ccc;
        position: absolute;
        margin-left: 1.5em;
      }
      .box {
        width: 350px;
        height: 350px;
        border: solid 1px #ccc;
        margin-left: 5.5em;
      }
      .product__right {
        display: inline;
        position: absolute;
        width: 400px;

        h2 {
          margin-left: 1em;
          color: #999;
          font-weight: 100;
          margin-top: 0;
          margin-bottom: 1em;
        }
        .product__value {
          background-color: #f8f8f8;
          padding: 1.5em;
          padding-top: 1em;
          margin-bottom: 1em;

          small {
            display: block;
            color: #999;
            margin-bottom: 1em;
          }
          small:nth-child(1) {
            margin-bottom: 0.2em;
          }
          small div {
            color: #4ec2dd;
            font-size: 20pt;
            font-weight: 800;
            display: inline;
          }
          button {
            text-transform: uppercase;
            font-weight: 800;
            background-color: #71ce4b;
            border: none;
            padding: 0.5em 1em;
            color: white;
            border-radius: 5%;
            font-size: 14pt;
            box-shadow: 0px 1px 3px #333;
            cursor: pointer;
          }
        }
        .product__frete {
          width: 80%;
          margin: 0 auto;
          background-color: #4ec2dd;
          color: white;
          padding: 1em;
          border-radius: 2%;

          p {
            font-weight: 800;
            text-transform: uppercase;
            font-size: 10pt;
            margin-top: 0;
            margin-bottom: 1.5em;
          }

          input:nth-of-type(1) {
            padding: 0.8em 1em;
            border: none;
            border-radius: 6%;
            width: 35%;
            box-shadow: 0px 1px 1px white;
          }
          input:nth-of-type(2) {
            padding: 0.8em 1em;
            border: none;
            border-radius: 6%;
            width: 12%;
            margin-left: 0.5em;
            box-shadow: 0px 1px 1px white;
            text-align: center;
          }
          button {
            font-weight: 800;
            padding: 0.8em 1em;
            border: none;
            border-radius: 4%;
            width: 30%;
            margin-left: 0.5em;
            box-shadow: 1px 1px 1px #0f4156;
            color: white;
            background-color: #0f4156;
            cursor: pointer;
          }
        }
      }
    }
    .product__desc {
      width: 90%;
      margin: 0 auto;

      h3 {
        margin-top: 3em;
        text-align: center;
        color: #849da8;
        font-weight: 100;
        margin-bottom: 1.5em;
      }

      p {
        color: #999;
      }
    }
    .product__others {
      width: 95%;
      margin: 0 auto;
      text-align: center;
      h3 {
        margin-top: 2em;
        color: #849da8;
        font-weight: 100;
        margin-bottom: 1.5em;
      }
      .others {
        border: solid 8px #f2f2f2;
        width: 185px;
        display: inline-block;
        margin-right: 1%;
        background-color: #f2f2f2;
        margin-bottom: 3em;
        img {
          width: 185px;
          height: 185px;
        }
        p {
          height: 40px;
          color: #999;
          margin-top: 0;
          font-size: 9pt;
          text-align: left;
        }
        small {
          color: #999;
          text-align: left;
          display: block;
        }
        span {
          color: #4ec2dd;
          font-weight: 800;
          float: left;
          margin-top: 0.2em;
        }
      }
    }
  }
}
@media (max-width: 1200px) {
  .l-product {
    width: 90%;
  }
}
@media (max-width: 1024px) {
  .l-product {
    section {
      .product__buy {
        margin: 0 auto;
        text-align: center;
        ul {
          text-align: left;
        }
        .small-box {
          margin-left: -3.5em;
        }
        .box {
          margin: 0 auto;
        }
        .product__right {
          display: block;
          position: relative;
          margin: 0 auto;
          width: 70%;
          text-align: center;

          h2 {
            margin: 0 auto;
            width: 350px;
            color: #999;
            font-weight: 100;
            margin-top: 0.3em;
            margin-bottom: 1em;
          }
          .product__value {

            small:nth-child(1) {
              margin-bottom: 0.2em;
              margin-left: -5em;
            }
          }
          .product__frete {
            width: 80%;
          }
        }
      }
    }
  }
}
@media (max-width: 767px) {
  .l-product {
    section {
      .product__buy {
        .small-box {
          display: none;
        }
        .box {
          width: 80%;
          height: 300px;
        }
        .product__right {
          width: 80%;
        h2 {
          text-align: left;
          width: 100%;
        }
        .product__frete {
          button {
            margin: 1em;
            width: 60%;
          }
        }
      }
      }
    }
  }
}
